<div class="main-content">
        <div class="container-fluid">
               <!---  Inicio de menú principal  --> 
  <button mat-button color="accent" [matMenuTriggerFor]="afterMenu">Producto</button>
  <mat-menu #afterMenu="matMenu" xPosition="after">
      <button  mat-menu-item  (click)="menu(2)">Crear Producto</button>
      <button  mat-menu-item  (click)="menu(3)">Mostrar Productos</button>
  </mat-menu>
<button mat-button color="accent" [matMenuTriggerFor]="afterMenu1">Stock</button>
  <mat-menu #afterMenu1="matMenu" xPosition="after">
      <!-- <button  mat-menu-item (click)="menu(4)">Cargar Inventario</button> -->
      <button mat-menu-item color="accent" (click)="menu(5)" >Mostrar Inventario</button>
  </mat-menu>
<button mat-button color="accent" [matMenuTriggerFor]="afterMenu2">órdenes de compra</button>
  <mat-menu #afterMenu2="matMenu" xPosition="after">
      <button mat-menu-item color="accent" (click)="menu(4)">Mostrar órdenes</button>
      <!-- <button mat-menu-item color="accent" (click)="menu(1)" >Actualizar</button> -->
  </mat-menu>
<!---  Fin menu  -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">Lista De Productos</h4>
                            <p class="card-category">TecnoExpress</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                       <th>Id</th>
                                      <!--  <th>Referencia Prov</th>-->
                                        <th>Producto</th>
                                        <!--<th>Descripción Prov</th>-->
                                        <th>Precio Compra</th>
                                        <th>Precio Venta</th>
                                        <th>Estado</th>
                                       <!-- <th>Cantidad</th>-->
                                        <th>Referencia Interna</th>
                                        <th>Descripción</th>
                                        <th>Editar</th>
                                        
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let product of product" class="text-center">
                                         <td>{{product.Product.idproduct}}</td>
                                        <!--<td>{{}}</td>-->
                                            <td>{{product.Product.product}}</td>
                                            <!-- <td>{{}}</td>-->
                                            <td>{{product.Product.saleprice}}</td>
                                            <td>{{product.Product.purchaseprice}}</td>
                                            <td>{{product.Product.state}}</td>
                                        <!--<td>{{}}</td>-->
                                            <td>{{product.Product.localidentifier}}</td>
                                            <td>{{product.Product.localdescription}}</td>
                                                        
                                         <td>
                                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="(Editar(product.Product))" >Editar</button>                                            
                                        </td>
                                    </tr>
                                </tbody> 
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
