<div class="main-content">
    <div class="container-fluid">
       <!---  Inicio de menú principal  --> 
       <button mat-button color="accent" [matMenuTriggerFor]="afterMenu">Producto</button>
       <mat-menu #afterMenu="matMenu" xPosition="after">
           <button  mat-menu-item  (click)="menu(2)">Crear Producto</button>
           <button  mat-menu-item  (click)="menu(3)">Mostrar Productos</button>
       </mat-menu>
     <button mat-button color="accent" [matMenuTriggerFor]="afterMenu1">Stock</button>
       <mat-menu #afterMenu1="matMenu" xPosition="after">
           <!-- <button  mat-menu-item (click)="menu(4)">Cargar Inventario</button> -->
           <button mat-menu-item color="accent" (click)="menu(5)" >Mostrar Inventario</button>
       </mat-menu>
     <button mat-button color="accent" [matMenuTriggerFor]="afterMenu2">órdenes de compra</button>
       <mat-menu #afterMenu2="matMenu" xPosition="after">
           <button mat-menu-item color="accent" (click)="menu(4)">Mostrar órdenes</button>
           <!-- <button mat-menu-item color="accent" (click)="menu(1)" >Actualizar</button> -->
       </mat-menu>
     <!---  Fin menu  -->
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h5 class="card-title">Información del producto</h5>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <tbody>
                            <tr *ngFor="let product of product">
                                <tr>
                                <td>Id</td>
                                <td >{{product.Product.idproduct}}</td> 
                                </tr>
                                <tr>
                                    <td>Nombre</td>
                                    <td>{{product.Product.product}}</td>
                                </tr>
                                <tr>
                                    <td>Precio Compra</td>
                                    <td>{{product.Product.saleprice}}</td>
                                </tr>
                                <tr>
                                    <td>Precio Venta</td>
                                    <td>{{product.Product.purchaseprice}}</td>
                                </tr>
                                <tr>
                                    <td>Estado</td>
                                    <td>{{product.Product.state}}</td>

                                </tr>
                                <tr>
                                    <td>Id Local</td>
                                    <td>{{product.Product.localidentifier}}</td>
                                </tr>
                                <tr>
                                    <td>Descripción</td>
                                    <td>{{product.Product.localdescription}}</td>                               
                                </tr>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
         
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Actualizar producto</h4>
                        </div>
                        <div class="card-body">
                            <form action=""> 
                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Categoría</mat-label>
                                            <mat-select class="form-control"
                                                [(ngModel)]="updateProduct.categories_idcategory"
                                                name="categories_idcategory" id="categor">
                                                <mat-option *ngFor="let category of categories"
                                                    value={{category.idcategory}}>{{category.category}}</mat-option>

                                            </mat-select>
                                        </mat-form-field>
                                    </div>


                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Unidades Minimas" type="text"
                                                class="form-control" [(ngModel)]="updateProduct.minimuamount"
                                                name="minimuamount">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Unidades actuales" type="text"
                                                class="form-control" [(ngModel)]="updateProduct.actualamount"
                                                name="actualamount">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">                                    
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Referencia Proveedor" type="text"
                                                class="form-control" [(ngModel)]="updateProduct.supplierreference"
                                                name="supplierreference">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Nombre Producto" type="text"
                                                class="form-control" [(ngModel)]="updateProduct.product" name="product">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Descripción Proveedor" type="text"
                                                class="form-control" [(ngModel)]="updateProduct.supplierdescription"
                                                name="supplierdescription">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Precio Compra" type="text" class="form-control"
                                                [(ngModel)]="updateProduct.saleprice" name="saleprice">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Precio Venta" type="text" class="form-control"
                                                [(ngModel)]="updateProduct.purchaseprice" name="purchaseprice">
                                        </mat-form-field>
                                    </div>


                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Marcas</mat-label>
                                            <mat-select class="form-control"
                                                [(ngModel)]="updateProduct.trademarks_idtrademark"
                                                name="trademarks_idtrademark">
                                                <mat-option *ngFor="let trademark of trademarks"
                                                    value={{trademark.idTrademark}}>{{trademark.trademark}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Estado</mat-label>
                                            <mat-select [(value)]="selected3" class="form-control"
                                                [(ngModel)]="updateProduct.state" name="state">
                                                <mat-option value="true">Activa</mat-option>
                                                <mat-option value="false">Inactiva</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Tamaño" type="text" class="form-control"
                                                [(ngModel)]="updateProduct.weight" name="weight">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Referencia Interna" class="form-control"
                                                [(ngModel)]="updateProduct.localidentifier" name="localidentifier">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Descripción Interna" class="form-control"
                                                [(ngModel)]="updateProduct.localdescription" name="localdescription">
                                        </mat-form-field>
                                    </div>
                                </div>                               
                                <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                    (click)="Actualizar(product.Product.idproduct)">Actualizar Producto</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
          