<div class="main-content">
    <div class="container-fluid">
        <!---  Inicio de menú principal  -->
        <button mat-button color="accent" [matMenuTriggerFor]="afterMenu">Producto</button>
        <mat-menu #afterMenu="matMenu" xPosition="after">
            <button mat-menu-item (click)="menu(2)">Crear Producto</button>
            <button mat-menu-item (click)="menu(3)">Mostrar Productos</button>
        </mat-menu>
        <button mat-button color="accent" [matMenuTriggerFor]="afterMenu1">Stock</button>
        <mat-menu #afterMenu1="matMenu" xPosition="after">
            <!-- <button  mat-menu-item (click)="menu(4)">Cargar Inventario</button> -->
            <button mat-menu-item color="accent" (click)="menu(5)">Mostrar Inventario</button>
        </mat-menu>
        <button mat-button color="accent" [matMenuTriggerFor]="afterMenu2">órdenes de compra</button>
        <mat-menu #afterMenu2="matMenu" xPosition="after">
            <button mat-menu-item color="accent" (click)="menu(4)">Mostrar órdenes</button>
            <!-- <button mat-menu-item color="accent" (click)="menu(1)" >Actualizar</button> -->
        </mat-menu>
        <!---  Fin menu  -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Listado &#243;rdenes de compra</h4>
                        <p class="card-category">TecnoExpress</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">


                            <table class="table">
                                <thead class=" text-primary">
                                   <th>N&#250;mero de Orden</th>
                                    <th>Fecha de Orden</th>
                                    <th>Descripci&#243;n de Orden</th>
                                    <th>Cargar</th>
                                </thead>
                                <tbody>
                                        <tr *ngFor="let orders of purcaseOrdersComplete" class="text-center">
                                     <td>{{orders.Oder.idpurchaseorder}}</td>
                                    <td>{{orders.Oder.datepurchase}}</td>
                                    <td>{{orders.Oder.description}}</td>
                                    <td>
                                     <button mat-mini-fab color="warn" aria-label="Example icon button with a plus one icon"
                                     (click)="showOrderDetail(orders.Oder.idpurchaseorder)">
                                            <mat-icon>+1</mat-icon>
                                    </button>
                                    </td>
                                    <!-- ventana modal o formulario para enviar orden puedes crear un formulario oculto-->

                                  
                                            

                                     <table class="table">
                                    <thead class=" text-primary">
                                       <th>Producto</th>
                                     
                                        <th>Referencia</th>
                                        <th>Unidades de Compra</th>
                                        <th>Descripcion</th>
                                        <th>Precio de Venta</th>
                                        <th>Precio de Compra</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let product of orders.Products" class="text-center">
                                         <td>{{product.Product.product}}</td>
                                            <td>{{product.Product.reference}}</td>
                                            <td>{{product.ProductOrder.orderunits}}</td>
                                            <td>{{product.Product.description}}</td>
                                            <td>{{product.Product.saleprice}}</td>
                                            <td>{{product.Product.purchaseprice}}</td>                                         
                                    </tr>
                                </tbody> 
                                </table>   
                                </tr>
                            </tbody> 
                            </table>  
                        </div>
                    </div>
                </div>
            </div>
            <!--inicio formulario cargar orden-->
            <div>
                    <div class="row" id="cargarOrden" style="display: none">
                            <div class="col-md-12">                 
                                    <div class="card">
                                        <div class="card-header card-header-danger">
                                            <h4 class="card-title">Cargar orden</h4>
                                        </div>
                                        <div class="card-body">
                                            <form action="">
                                                            
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="Id Usuario" type="text"class="form-control"  [(ngModel)]="Addipo.idUser" name="User">
                                                        </mat-form-field>
                                                    </div>
                                               
                                                    <div class="col-md-6">
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="id Orden" type="text"class="form-control" [(ngModel)]="Addipo.idPurchaseOrder"  name="idpo">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="Descripción" type="text" class="form-control" [(ngModel)]="Addipo.Desacription"  name="description">
                                                        </mat-form-field>
                                                    </div>                                                
                                                    
                                                </div>                                            
                                                <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="SendOrder()" >Cargar Orden</button>
                                                <div class="clearfix"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

            </div> 
            <!-- Fin formulario cargar orden -->