<div class="main-content">
        <div class="container-fluid">
          <!---  Inicio de menú principal  --> 
  <button mat-button color="accent" [matMenuTriggerFor]="afterMenu">Producto</button>
  <mat-menu #afterMenu="matMenu" xPosition="after">
      <button  mat-menu-item  (click)="menu(2)">Crear Producto</button>
      <button  mat-menu-item  (click)="menu(3)">Mostrar Productos</button>
  </mat-menu>
<button mat-button color="accent" [matMenuTriggerFor]="afterMenu1">Stock</button>
  <mat-menu #afterMenu1="matMenu" xPosition="after">
      <!-- <button  mat-menu-item (click)="menu(4)">Cargar Inventario</button> -->
      <button mat-menu-item color="accent" (click)="menu(5)" >Mostrar Inventario</button>
  </mat-menu>
<button mat-button color="accent" [matMenuTriggerFor]="afterMenu2">órdenes de compra</button>
  <mat-menu #afterMenu2="matMenu" xPosition="after">
      <button mat-menu-item color="accent" (click)="menu(4)">Mostrar órdenes</button>
      <!-- <button mat-menu-item color="accent" (click)="menu(1)" >Actualizar</button> -->
  </mat-menu>
<!---  Fin menu  -->
         
            <div class="row">
                <div class="col-md-12">                 
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title">Cargue  Inventario</h4>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Marcas</mat-label>
                                                <mat-select [(value)]="selected">
                                                    <mat-option>None</mat-option>
                                                    <mat-option value="option1">Option 1</mat-option>
                                                    <mat-option value="option2">Option 2</mat-option>
                                                    <mat-option value="option3">Option 3</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Categorias</mat-label>
                                                <mat-select [(value)]="selected">
                                                    <mat-option>None</mat-option>
                                                    <mat-option value="option1">Option 1</mat-option>
                                                    <mat-option value="option2">Option 2</mat-option>
                                                    <mat-option value="option3">Option 3</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
    
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Referencia Proveedor" type="text">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Nombre Producto" type="text">
                                            </mat-form-field>
                                        </div>
    
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Precio Venta" type="text">
                                            </mat-form-field>
                                        </div>
    
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
    
                                                <mat-label>Estado</mat-label>
                                                <mat-select [(value)]="selected">
                                                    <mat-option>None</mat-option>
                                                    <mat-option value="option1">Option 1</mat-option>
                                                    <mat-option value="option2">Option 2</mat-option>
                                                    <mat-option value="option3">Option 3</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Precio Compra" type="text">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Referencia Interna" type="text">
                                            </mat-form-field>
                                        </div>
                                    </div>
    
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <input id="cantidad" matInput placeholder="Cantidad" type="text">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Unidades Máximas" type="text">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                               <input matInput placeholder="Unidades Máximas" type="text">
                                            </mat-form-field>
                                          </div>
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <textarea id="descripcion" matInput placeholder="Descripción"></textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="ngOnInit()">Cargar Inventario</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>