<div class="main-content">
    <div class="container-fluid">
       <!---  Inicio de menú principal  --> 
  <button mat-button color="accent" [matMenuTriggerFor]="afterMenu">Producto</button>
  <mat-menu #afterMenu="matMenu" xPosition="after">
      <button  mat-menu-item  (click)="menu(2)">Crear Producto</button>
      <button  mat-menu-item  (click)="menu(3)">Mostrar Productos</button>
  </mat-menu>
<button mat-button color="accent" [matMenuTriggerFor]="afterMenu1">Stock</button>
  <mat-menu #afterMenu1="matMenu" xPosition="after">
      <!-- <button  mat-menu-item (click)="menu(4)">Cargar Inventario</button> -->
      <button mat-menu-item color="accent" (click)="menu(5)" >Mostrar Inventario</button>
  </mat-menu>
<button mat-button color="accent" [matMenuTriggerFor]="afterMenu2">órdenes de compra</button>
  <mat-menu #afterMenu2="matMenu" xPosition="after">
      <button mat-menu-item color="accent" (click)="menu(4)">Mostrar órdenes</button>
      <!-- <button mat-menu-item color="accent" (click)="menu(1)" >Actualizar</button> -->
  </mat-menu>
<!---  Fin menu  -->
                       
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Inventario Tecnoexpress</h4>                    
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="tim-typo">
                                    <h1>
                                        <span class="tim-note"></span>Inventario Tecnoexpress</h1>
                                </div>
                                </div>
                            <div class="row">
                               
                            </div>
                           
                            
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        
                    </div>
                    <div class="card-body">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  