<div class="main-content">
    <div class="container-fluid">
              <!---  Inicio de menú principal  --> 
  <button mat-button color="accent" [matMenuTriggerFor]="afterMenu">Producto</button>
  <mat-menu #afterMenu="matMenu" xPosition="after">
      <button  mat-menu-item  (click)="menu(2)">Crear Producto</button>
      <button  mat-menu-item  (click)="menu(3)">Mostrar Productos</button>
  </mat-menu>
<button mat-button color="accent" [matMenuTriggerFor]="afterMenu1">Stock</button>
  <mat-menu #afterMenu1="matMenu" xPosition="after">
      <!-- <button  mat-menu-item (click)="menu(4)">Cargar Inventario</button> -->
      <button mat-menu-item color="accent" (click)="menu(5)" >Mostrar Inventario</button>
  </mat-menu>
<button mat-button color="accent" [matMenuTriggerFor]="afterMenu2">órdenes de compra</button>
  <mat-menu #afterMenu2="matMenu" xPosition="after">
      <button mat-menu-item color="accent" (click)="menu(4)">Mostrar órdenes</button>
      <!-- <button mat-menu-item color="accent" (click)="menu(1)" >Actualizar</button> -->
  </mat-menu>
<!---  Fin menu  -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Productos en Stock</h4>
                        <p class="card-category">TecnoExpress</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary" width="100%">
                                   <th style="width:5%"> Id </th>
                                    <th style="width:5%">Referencia Prov </th>
                                    <th style="width:10%">Producto </th>
                                    <th style="width:30%">Descripción Proveedor </th>
                                    <th style="width:10%">Precio Compra </th>
                                    <th style="width:10%">Precio Venta </th>
                                    <th style="width:3%">Estado </th>
                                    <th style="width:5%">Cantidad Actual </th>
                                    <th style="width:10%">Referencia Interna</th>
                                    <th style="width:10%">Descripción Interna</th>
                               
                                   
                                </thead>
                                <tbody>                                    
                                    <tr *ngFor="let product of product" class="text-center">
                                        <td style="width:5%">{{product.Product.idproduct}}</td>
                                        <td style="width:5%" >{{product.Product.reference}}</td>
                                        <td style="width:10%">{{product.Product.product}}</td>
                                        <td style="width:30%">{{product.Product.description}}</td>
                                        <td style="width:10%">{{product.Product.saleprice}}</td>
                                        <td style="width:10%">{{product.Product.purchaseprice}}</td>
                                        <td style="width:3%">{{product.Product.state}}</td>
                                        <td style="width:2%">{{product.Product.weight}}</td>
                                        <td style="width:10%">{{product.Product.localidentifier}}</td>
                                        <td style="width:10%">{{product.Product.localdescription}}</td>                                                    
                                    
                                </tr>                               
                            </tbody> 
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            

            <div id="alert" style="display: none" >
                    <div class="card">
            <div class="card-header card-header-danger">
                    <h4 class="card-title ">Alerta de productos minimos</h4>
                    <p class="card-category">TecnoExpress</p>
                </div>
            <div class="table-responsive" >
                    <table class="table">
                        <thead class=" text-primary" width="100%">
                            <th style="width:5%"> Producto </th>
                            <th style="width:5%">Descripción </th>
                            <th style="width:10%">Cantidad actual </th>
                            <th style="width:30%">Minimos permitidos</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ProductsWithMinimunAlert of ProductsWithMinimunAlert">
                                <td>{{ProductsWithMinimunAlert.Product.product}}</td>
                                <td>{{ProductsWithMinimunAlert.Product.description}}</td>
                                <td>{{ProductsWithMinimunAlert.Stock.actualamount}}</td>
                                <td>{{ProductsWithMinimunAlert.Stock.minimuamount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
               </div>
        </div>